ul.products.flex
    li
        a(href="https://siroop.ch/computer-elektronik/computer-tablets/computer-zubehoer/hama-hdmi-zu-vga-adapter-aux-stecker-73476")
            img(src="https://cdn.siroop.ch/media/images/sized/uUxnjbsXK4L-XB890xo56w.200x200.jpg", alt="")
            h2 Lenovo Tablet 8" A5500 16 GB
            h3 CHF 109.00

    li
        a(href="https://siroop.ch/computer-elektronik/computer-tablets/ipad-tablet-schutzhuelle/maroo-cobalt-blue-cover-for-surface-pro-3-102030")
            img(src="https://cdn.siroop.ch/media/images/sized/X5_HjrnMiola_1wvYt7VRA.200x200.jpg", alt="")
            h2 MAROO Cobalt Blue Cover for Surface Pro 3
            h3 CHF 79.90

    li
        a(href="https://cdn.siroop.ch/media/images/sized/Yl_Fc7PyEY-iF4wJyUOgAQ.200x200.jpg")
            img(src="https://cdn.siroop.ch/media/images/sized/Yl_Fc7PyEY-iF4wJyUOgAQ.200x200.jpg", alt="")
            h2 Hama HDMI zu VGA-Adapter + AUX-Stecker
            h3 CHF 44.95

    li
        a(href="https://siroop.ch/computer-elektronik/computer-tablets/laptop/apple-macbook-pro-retina-154-i7-28ghz-512gb-102178")
            img(src="https://cdn.siroop.ch/media/images/sized/hUMewVMQGLMyHHq9jflNpQ.200x200.jpg", alt="")
            h2 Apple MacBook Pro 13.3" Retina I516G512
            h3 CHF 2’099.00