nav.current-navigation
    a(href="https://siroop.ch/", title="siroop Startseite") Startseite / 

    a(href="https://siroop.ch/computer-elektronik/computer-tablets" title="Computer & Elektronik") Computer & Elektronik / 

    a(href="/" title="Computer & Tablets") Computer & Tablets

nav.category-navigation
    a(href="https://siroop.ch/computer-elektronik/computer-tablets" title="Computer & Elektronik") Computer & Elektronik