nav.subcategory-navigation
    a(href="/computer-elektronik/computer-tablets/computer", title="Computer") Computer <span>67</span>
    
    a(href="/computer-elektronik/computer-tablets/computer-zubehoer", title="Computer Zubehör") Computer Zubehör
        <span>27</span>
    
    a(href="/computer-elektronik/computer-tablets/ebook-reader", title="eBook Reader") eBook Reader
        <span>6</span>
    
    a(href="/computer-elektronik/computer-tablets/ebook-reader-zubehoer", title="eBook Reader Zubehör") eBook Reader Zubehör
        <span>24</span>
    
    a(href="/computer-elektronik/computer-tablets/ipad-tablet", title="iPad &amp; Tablet") iPad &amp; Tablet
        <span>82</span>
    
    a(href="/computer-elektronik/computer-tablets/ipad-tablet-schutzhuelle", title="iPad &amp; Tablet Schutzhülle") iPad &amp; Tablet Schutzhülle
        <span>109</span>
    
    a(href="/computer-elektronik/computer-tablets/ipad-tablet-zubehoer", title="iPad &amp; Tablet Zubehör") iPad &amp; Tablet Zubehör
        <span>70</span>

    a(href="/computer-elektronik/computer-tablets/laptop", title="Laptop") Laptop
        <span>128</span>

    a(href="/computer-elektronik/computer-tablets/laptop-zubehoer", title="Laptop Zubehör") Laptop Zubehör
        <span>26</span>
    
    a(href="/computer-elektronik/computer-tablets/laptoptasche", title="Laptoptasche") Laptoptasche
        <span>56</span>
    
    a(href="/computer-elektronik/computer-tablets/monitor", title="Monitor") Monitor
        <span>50</span>
    
    a(href="/computer-elektronik/computer-tablets/monitor-zubehoer", title="Monitor Zubehör") Monitor Zubehör
        <span>9</span>